.vscode/
__pycache__/estacionamento.cpython-313.pyc
__pycache__/fila.cpython-313.pyc
__pycache__/test_estacionamento.cpython-313-pytest-8.4.0.pyc
__pycache__/test_fila.cpython-313-pytest-8.4.0.pyc
__pycache__/test_usuario.cpython-313-pytest-8.4.0.pyc
__pycache__/test_vagas.cpython-313-pytest-8.4.0.pyc
__pycache__/usuario.cpython-313.pyc
__pycache__/vagas.cpython-313.pyc
